@model AdvertiseViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Home Page - BanAd.Demo</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" type="text/css"/>
</head>
<body class="contact-form-body">

<div class="intro">
    <p>Looking to advertise?</p>
    <p>This ad space goes for <strong>@Model.AdSlotInfo.BanPerHour BAN</strong> per hour.</p>
    <p>Send me your ad and I'll send you an invoice.</p>
</div>

<form id="contact-form">
    <p>
        I want this <strong>@Model.AdSlotInfo.Width x @Model.AdSlotInfo.Height</strong> ad slot for
        <input type="text" name="@Model.HoneypotName" id="@Model.HoneypotName"/>
    </p>
    <p>
        <input type="number" name="days" id="days" min="0" step="1" placeholder="(days)">
        <label for="days">days</label> and
        <input type="number" name="hours" id="hours" min="1" step="1" minlength="3" placeholder="(hours)" required>
        <label for="hours">hours</label>.
    </p>
    <p>
        My
        <label for="email">email address</label> is
        <input type="email" name="your-email" id="email" placeholder="(your email address)" required>.
    </p>
    <p>
        I've made sure my <label for="ad">ad</label> is no more than <strong>@Model.MaxSizeDisplay</strong> and attached it:
    </p>
    <p>
        <input type="file" name="ad" id="ad" accept="@string.Join(",", Model.SupportedExtensions)" required>
    </p>
    <p>
        <button type="submit">
            <svg version="1.1" class="send-icn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="36px" viewBox="0 0 100 36" enable-background="new 0 0 100 36" xml:space="preserve">
                <path d="M100,0L100,0 M23.8,7.1L100,0L40.9,36l-4.7-7.5L22,34.8l-4-11L0,30.5L16.4,8.7l5.4,15L23,7L23.8,7.1z M16.8,20.4l-1.5-4.3
	l-5.1,6.7L16.8,20.4z M34.4,25.4l-8.1-13.1L25,29.6L34.4,25.4z M35.2,13.2l8.1,13.1L70,9.9L35.2,13.2z"/>
            </svg>
            <small>send</small>
        </button>
    </p>
    @Html.AntiForgeryToken()
</form>

<footer>
    <small class="form-notice-reveal">
        <a href="#">form copyright/license</a>
    </small>
    <div class="form-notice">
        <p>
            <small>Copyright (c) 2022 by Erlen (https://codepen.io/erlenmasson/pen/azVZXQ)</small>
        </p>
        <p>
            <small>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</small>
        </p>
        <p>
            <small>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</small>
        </p>
        <p>
            <small>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</small>
        </p>
    </div>
</footer>

<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
// Auto resize input
function resizeInput() {
    $(this).attr('size', $(this).val().length);
}

$('input[type="text"], input[type="email"]')
    // event handler
    .keyup(resizeInput)
    // resize on page load
    .each(resizeInput);

$('.form-notice-reveal').on('click', e => {
  e.preventDefault();
  $('.form-notice').show();
  $('.form-notice-reveal').hide();
});

$('#ad').on('input', () => {
    const input = $('#ad')[0];
    input.setCustomValidity(''); // Reset.
    
    const file = input.files[0]; 
    if (file)
    {
      // Check size.
      const kb = file.size / 1024;
      if (kb > @Model.MaxSizeKiB) {
          input.setCustomValidity('File must be no greater than @Model.MaxSizeKiB' + 'kb.');
      } else {
          // Check dimensions.
          const creator = window.URL || window.webkitURL;
          const image = new Image();
          image.onload = () => {
              if (image.width !== @Model.AdSlotInfo.Width || image.height !== @Model.AdSlotInfo.Height) {
                  input.setCustomValidity('Image must be @Model.AdSlotInfo.Width pixels wide x @Model.AdSlotInfo.Height pixels high.');
              }
          };
          image.src = creator.createObjectURL(file);
      }
    }
});
</script>

</body>
</html>